<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SharpCodeWebsite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-color box-shadow mb-3">
            @*<div class="container">*@
                <a class="navbar-brand" asp-area="" id="text-color4" asp-controller="Home" asp-action="Index"><img src ="/lib/img/logo2.png" id="img-logo"/></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    @*<partial name="_LoginPartial" />*@
                    <ul class="navbar-nav flex-grow-1 nav-elements">
                        <li class="nav-item">
                            <a class="nav-link text-mycolor" id="text-color" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="text-color1" asp-area="" asp-controller="Home" asp-action="Privacy">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="text-color2" asp-area="" asp-controller="Home" asp-action="Privacy">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="text-color3" asp-area="" asp-controller="Home" asp-action="Privacy">Contact</a>
                        </li>
                        <li class=" nav-item social-buttons">
                            <a href="#"><i class="fab fa-facebook nav-link"></i></a>
                            <a href="#"><i class="fab fa-twitter nav-link"></i></a>
                            <a href="#"><i class="fab fa-instagram nav-link"></i></a>

                            <a href="#"><i class="fab fa-linkedin-in nav-link"></i></a>
                        </li>
                        <partial name="_LoginPartial" />
                    </ul>
                   
                </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container">
            &copy; 2020 - SharpCode - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
