
<p class="text-center font-weight-bold text-uppercase" id="align-me">Successfully Registered!</p>
<div class="container-success" id="align-success">
    
    <div class="circle-border"></div>
    <div class="circle">
        <div class="success"></div>
    </div>
    </div>
</div>

@section Scripts
{
    <script>
        $('document').ready(function () {
            //var div1 = document.getElementById('services-body');
            //var div = document.getElementById('first-column');
            document.body.style.background = '#fff';
            //div.style.backgroundColor = '#00326D';
            //div1.style.backgroundColor = 'white';
            //div.style.marginTop = '-14px';
        });
    </script>
}