
<p class="text-center font-weight-bold text-uppercase" id="align-me">Successfully Registered!</p>
<div class="container-success" id="align-success">
    
    <div class="circle-border"></div>
    <div class="circle">
        <div class="success"></div>
    </div>
    </div>
</div>

@section Scripts
{
    <script>
        $('document').ready(function () {
            document.body.style.background = '#fff';
            $(function () {
                setTimeout(function () {
                    window.location.replace("https://localhost:44358/");
                }, 5000);
            });
            
        });
    </script>
}