<div class="container about-color">

    <h1 class="heading-center">ABOUT US</h1>
    
    <p class="para1 para5">
        <span class="color-change">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam interdum aliquam sem ut eleifend.
            Cras lobortis tristique libero, vitae hendrerit nisl pellentesque nec. Nam eu rhoncus nunc.
            Proin nec neque ac justo bibendum suscipit. Nullam fringilla auctor arcu sit amet fermentum.
            Nam condimentum egestas libero non cursus. Praesent ut sollicitudin risus. Sed ornare vehicula
            vestibulum. Aliquam finibus lectus lectus, posuere rutrum erat tristique ac. Nulla pellentesque
            quis dolor in efficitur. Proin gravida augue vel eleifend pellentesque. Duis dictum commodo metus.


        </span>
    </p>
   

</div>

<!-- Our team Section -->
<section id="team" class="team content-section">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h2 class="one-pattern"> OUR ALUMNI</h2>
                <hr class="testi-line slide" />
                <h3 class="caption gray one-pattern slide">Meet the people who make awesome stuffs</h3>
            </div><!-- /.col-md-12 -->

            <div class="container">
                <div class="row">

                    <div class="col-md-4">
                        <div class="team-member">
                            <figure>
                                <img src="https://ca.slack-edge.com/T01ATTKQP38-U01B7GK43MJ-e239e953d495-512" alt="Agwu_Africa" class="img-responsive" id="image-profile">
                                <figcaption>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae asperiores mollitia.</p>
                                    <ul>
                                        <li class=" nav-item social-buttons">
                                            <a href="#"><i class="fab fa-facebook nav-link"></i></a>
                                            <a href="#"><i class="fab fa-twitter nav-link"></i></a>
                                            <a href="#"><i class="fab fa-instagram nav-link"></i></a>

                                            <a href="#"><i class="fab fa-linkedin-in nav-link"></i></a>
                                        </li>
                                    </ul>
                                </figcaption>
                            </figure>
                            <h4 class="one-pattern">Agwu Africa</h4>
                            <p class="para-profile">Web Developer</p>
                        </div><!-- /.team-member-->
                    </div><!-- /.col-md-4 -->

                    <div class="col-md-4">
                        <div class="team-member">
                            <figure>
                                <img src="https://ca.slack-edge.com/T01ATTKQP38-U01ALJKUU0P-5fc2426139d4-512" alt="" class="img-responsive" id="image-profile">
                                <figcaption>
                                    <p>Neque minima ea, a praesentium saepe nihil maxime quod esse numquam explicabo eligendi.</p>
                                    <ul>
                                        <li class=" nav-item social-buttons">
                                            <a href="#"><i class="fab fa-facebook nav-link"></i></a>
                                            <a href="#"><i class="fab fa-twitter nav-link"></i></a>
                                            <a href="#"><i class="fab fa-instagram nav-link"></i></a>

                                            <a href="#"><i class="fab fa-linkedin-in nav-link"></i></a>
                                        </li>
                                    </ul>
                                </figcaption>
                            </figure>
                            <h4 class="one-pattern">Akuegbu Hilda</h4>
                            <p class="para-profile">Web Developer</p>
                        </div><!-- /.team-member-->
                    </div><!-- /.col-md-4 -->

                    <div class="col-md-4">
                        <div class="team-member">
                            <figure>
                                <img src="https://ca.slack-edge.com/T01ATTKQP38-U01AY8A8K8D-28c96f1fc115-512" alt="" class="img-responsive" id="image-profile">
                                <figcaption>
                                    <p>Temporibus dolor, quisquam consectetur molestias, veniam voluptatum. Beatae alias omnis totam.</p>
                                    <ul>
                                        <li class=" nav-item social-buttons">
                                            <a href="#"><i class="fab fa-facebook nav-link"></i></a>
                                            <a href="#"><i class="fab fa-twitter nav-link"></i></a>
                                            <a href="#"><i class="fab fa-instagram nav-link"></i></a>

                                            <a href="#"><i class="fab fa-linkedin-in nav-link"></i></a>
                                        </li>
                                    </ul>
                                </figcaption>
                            </figure>
                            <h4 class="one-pattern">Chima Justice</h4>
                            <p class="para-profile">Web Developer</p>
                        </div><!-- /.team-member-->
                    </div><!-- /.col-md-4 -->
                    <div class="col-md-4">
                        <div class="team-member">
                            <figure>
                                <img src="https://ca.slack-edge.com/T01ATTKQP38-U01B1H0R82F-92d2360215ab-512" alt="" class="img-responsive" id="image-profile">
                                <figcaption>
                                    <p>Temporibus dolor, quisquam consectetur molestias, veniam voluptatum. Beatae alias omnis totam.</p>
                                    <ul>
                                        <li class=" nav-item social-buttons">
                                            <a href="#"><i class="fab fa-facebook nav-link"></i></a>
                                            <a href="#"><i class="fab fa-twitter nav-link"></i></a>
                                            <a href="#"><i class="fab fa-instagram nav-link"></i></a>

                                            <a href="#"><i class="fab fa-linkedin-in nav-link"></i></a>
                                        </li>
                                    </ul>
                                </figcaption>
                            </figure>
                            <h4 class="one-pattern">Ogbonna Chidinma</h4>
                            <p class="para-profile">Web Developer</p>
                        </div><!-- /.team-member-->
                    </div><!-- /.col-md-4 -->
                    <div class="col-md-4">
                        <div class="team-member">
                            <figure>
                                <img src="https://ca.slack-edge.com/T01ATTKQP38-U01C82K1TGQ-24e3ce36c1ea-512" alt="" class="img-responsive" id="image-profile">
                                <figcaption>
                                    <p>Temporibus dolor, quisquam consectetur molestias, veniam voluptatum. Beatae alias omnis totam.</p>
                                    <ul>
                                        <li class=" nav-item social-buttons">
                                            <a href="#"><i class="fab fa-facebook nav-link"></i></a>
                                            <a href="#"><i class="fab fa-twitter nav-link"></i></a>
                                            <a href="#"><i class="fab fa-instagram nav-link"></i></a>

                                            <a href="#"><i class="fab fa-linkedin-in nav-link"></i></a>
                                        </li>
                                    </ul>
                                </figcaption>
                            </figure>
                            <h4 class="one-pattern">Oluwagbunmi Okeke</h4>
                            <p class="para-profile">Web Developer</p>
                        </div><!-- /.team-member-->
                    </div><!-- /.col-md-4 -->
                    <div class="col-md-4">
                        <div class="team-member">
                            <figure>
                                <img src="/lib/img/pic1.jpg" alt="Mere_Daniel" class="img-responsive" id="image-profile">
                                <figcaption>
                                    <p>Temporibus dolor, quisquam consectetur molestias, veniam voluptatum. Beatae alias omnis totam.</p>
                                    <ul>
                                        <li class=" nav-item social-buttons">
                                            <a href="#"><i class="fab fa-facebook nav-link"></i></a>
                                            <a href="#"><i class="fab fa-twitter nav-link"></i></a>
                                            <a href="#"><i class="fab fa-instagram nav-link"></i></a>

                                            <a href="#"><i class="fab fa-linkedin-in nav-link"></i></a>
                                        </li>
                                    </ul>
                                </figcaption>
                            </figure>
                            <h4 class="one-pattern">Mere Daniel</h4>
                            <p class="para-profile">Web Developer</p>
                        </div><!-- /.team-member-->
                    </div><!-- /.col-md-4 -->


                </div><!-- /.row -->
            </div><!-- /.container -->

        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.our-team -->
<!--Testimonial section-->
<div class="container">
    <h1 class="testi-heading slide">Testimonial</h1>
    <hr class="testi-line slide"/>
</div>
<section id="testim" class="testim">
    <!--         <div class="testim-cover"> -->
    <div class="wrap">

        <span id="right-arrow" class="arrow right fa fa-chevron-right"></span>
        <span id="left-arrow" class="arrow left fa fa-chevron-left "></span>
        <ul id="testim-dots" class="dots">
            <li class="dot active"></li>
            
            <li class="dot"></li>
            
            <li class="dot"></li>
            
            <li class="dot"></li>
            
            <li class="dot"></li>
        </ul>
        <div id="testim-content" class="cont">

            <div class="active">
                <div class="img"><img src="https://ca.slack-edge.com/T01ATTKQP38-U01B7GK43MJ-e239e953d495-512" alt=""></div>
                <h2>Agwu Africa</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
            </div>

            <div>
                <div class="img"><img src="https://ca.slack-edge.com/T01ATTKQP38-U01C82K1TGQ-24e3ce36c1ea-512" alt="bunmi_img"></div>
                <h2>Miss Bunmi</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
            </div>

            <div>
                <div class="img"><img src="https://ca.slack-edge.com/T01ATTKQP38-U01ALJKUU0P-5fc2426139d4-512" alt="hilda_profile"></div>
                <h2>Akuegbu Hilda</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
            </div>

            <div>
                <div class="img"><img src="https://ca.slack-edge.com/T01ATTKQP38-U01B1H0R82F-92d2360215ab-512" alt="profile_img"></div>
                <h2>Ogbonna Chidinma</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
            </div>

            <div>
                <div class="img"><img src="https://ca.slack-edge.com/T01ATTKQP38-U01AY8A8K8D-28c96f1fc115-512" alt="profile_img"></div>
                <h2>Chima Justice</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
            </div>

        </div>

    </div>
    
</section>


