<div class="container about-color">
    
        <h1 class="heading-center">About Us</h1>
        <p class="para1 para5">
            <span class="color-change">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam interdum aliquam sem ut eleifend. 
                Cras lobortis tristique libero, vitae hendrerit nisl pellentesque nec. Nam eu rhoncus nunc. 
                Proin nec neque ac justo bibendum suscipit. Nullam fringilla auctor arcu sit amet fermentum. 
                Nam condimentum egestas libero non cursus. Praesent ut sollicitudin risus. Sed ornare vehicula 
                vestibulum. Aliquam finibus lectus lectus, posuere rutrum erat tristique ac. Nulla pellentesque
                quis dolor in efficitur. Proin gravida augue vel eleifend pellentesque. Duis dictum commodo metus.

                
            </span>
        </p>
   
</div>
<!-- Our team Section -->
<section id="team" class="team content-section">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h2 class="one-pattern">Our Team</h2>
                <h3 class="caption gray one-pattern">Meet the people who make awesome stuffs</h3>
            </div><!-- /.col-md-12 -->

            <div class="container">
                <div class="row">

                    <div class="col-md-4">
                        <div class="team-member">
                            <figure>
                                <img src="http://www.mauritiusdsilva.com/themes/hallooou/assets/images/terry-fletcher.jpg" alt="" class="img-responsive">
                                <figcaption>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae asperiores mollitia.</p>
                                    <ul>
                                        <li class=" nav-item social-buttons">
                                            <a href="#"><i class="fab fa-facebook nav-link"></i></a>
                                            <a href="#"><i class="fab fa-twitter nav-link"></i></a>
                                            <a href="#"><i class="fab fa-instagram nav-link"></i></a>

                                            <a href="#"><i class="fab fa-linkedin-in nav-link"></i></a>
                                        </li>
                                    </ul>
                                </figcaption>
                            </figure>
                            <h4 class="one-pattern">Agwu Africa</h4>
                            <p class="para-profile">Web Developer</p>
                        </div><!-- /.team-member-->
                    </div><!-- /.col-md-4 -->

                    <div class="col-md-4">
                        <div class="team-member">
                            <figure>
                                <img src="http://www.mauritiusdsilva.com/themes/hallooou/assets/images/terry-fletcher.jpg" alt="" class="img-responsive">
                                <figcaption>
                                    <p>Neque minima ea, a praesentium saepe nihil maxime quod esse numquam explicabo eligendi.</p>
                                    <ul>
                                        <li class=" nav-item social-buttons">
                                            <a href="#"><i class="fab fa-facebook nav-link"></i></a>
                                            <a href="#"><i class="fab fa-twitter nav-link"></i></a>
                                            <a href="#"><i class="fab fa-instagram nav-link"></i></a>

                                            <a href="#"><i class="fab fa-linkedin-in nav-link"></i></a>
                                        </li>
                                    </ul>
                                </figcaption>
                            </figure>
                            <h4 class="one-pattern">Akuegbu Hilda</h4>
                            <p class="para-profile">Web Developer</p>
                        </div><!-- /.team-member-->
                    </div><!-- /.col-md-4 -->

                    <div class="col-md-4">
                        <div class="team-member">
                            <figure>
                                <img src="http://www.mauritiusdsilva.com/themes/hallooou/assets/images/terry-fletcher.jpg" alt="" class="img-responsive">
                                <figcaption>
                                    <p>Temporibus dolor, quisquam consectetur molestias, veniam voluptatum. Beatae alias omnis totam.</p>
                                    <ul>
                                        <li class=" nav-item social-buttons">
                                            <a href="#"><i class="fab fa-facebook nav-link"></i></a>
                                            <a href="#"><i class="fab fa-twitter nav-link"></i></a>
                                            <a href="#"><i class="fab fa-instagram nav-link"></i></a>

                                            <a href="#"><i class="fab fa-linkedin-in nav-link"></i></a>
                                        </li>
                                    </ul>
                                </figcaption>
                            </figure>
                            <h4 class="one-pattern">Chima Justice</h4>
                            <p class="para-profile">Web Developer</p>
                        </div><!-- /.team-member-->
                    </div><!-- /.col-md-4 -->
                    <div class="col-md-4">
                        <div class="team-member">
                            <figure>
                                <img src="http://www.mauritiusdsilva.com/themes/hallooou/assets/images/terry-fletcher.jpg" alt="" class="img-responsive">
                                <figcaption>
                                    <p>Temporibus dolor, quisquam consectetur molestias, veniam voluptatum. Beatae alias omnis totam.</p>
                                    <ul>
                                        <li class=" nav-item social-buttons">
                                            <a href="#"><i class="fab fa-facebook nav-link"></i></a>
                                            <a href="#"><i class="fab fa-twitter nav-link"></i></a>
                                            <a href="#"><i class="fab fa-instagram nav-link"></i></a>

                                            <a href="#"><i class="fab fa-linkedin-in nav-link"></i></a>
                                        </li>
                                    </ul>
                                </figcaption>
                            </figure>
                            <h4 class="one-pattern">Ogbonna Chidinma</h4>
                            <p class="para-profile">Web Developer</p>
                        </div><!-- /.team-member-->
                    </div><!-- /.col-md-4 -->
                    <div class="col-md-4">
                        <div class="team-member">
                            <figure>
                                <img src="http://www.mauritiusdsilva.com/themes/hallooou/assets/images/terry-fletcher.jpg" alt="" class="img-responsive">
                                <figcaption>
                                    <p>Temporibus dolor, quisquam consectetur molestias, veniam voluptatum. Beatae alias omnis totam.</p>
                                    <ul>
                                        <li class=" nav-item social-buttons">
                                            <a href="#"><i class="fab fa-facebook nav-link"></i></a>
                                            <a href="#"><i class="fab fa-twitter nav-link"></i></a>
                                            <a href="#"><i class="fab fa-instagram nav-link"></i></a>

                                            <a href="#"><i class="fab fa-linkedin-in nav-link"></i></a>
                                        </li>
                                    </ul>
                                </figcaption>
                            </figure>
                            <h4 class="one-pattern">Oluwagbunmi Okeke</h4>
                            <p class="para-profile">Web Developer</p>
                        </div><!-- /.team-member-->
                    </div><!-- /.col-md-4 -->
                    <div class="col-md-4">
                        <div class="team-member">
                            <figure>
                                <img src="/lib/img/pic1.jpg" alt="Mere_Daniel" class="img-responsive" id="image-profile">
                                <figcaption>
                                    <p>Temporibus dolor, quisquam consectetur molestias, veniam voluptatum. Beatae alias omnis totam.</p>
                                    <ul>
                                        <li class=" nav-item social-buttons">
                                            <a href="#"><i class="fab fa-facebook nav-link"></i></a>
                                            <a href="#"><i class="fab fa-twitter nav-link"></i></a>
                                            <a href="#"><i class="fab fa-instagram nav-link"></i></a>

                                            <a href="#"><i class="fab fa-linkedin-in nav-link"></i></a>
                                        </li>
                                    </ul>
                                </figcaption>
                            </figure>
                            <h4 class="one-pattern">Mere Daniel</h4>
                            <p class="para-profile">Web Developer</p>
                        </div><!-- /.team-member-->
                    </div><!-- /.col-md-4 -->


                </div><!-- /.row -->
            </div><!-- /.container -->

        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.our-team -->