
<div container>
    <div class="card">
        <div class="top-half">
            <p class="slide text-slide">Tap to see list</p>
        </div>
        <div class="bottom-half">
            <div class="title">SharpCode Online Courses</div>
            <div class="subtitle">
                Intermediate Level
            </div>
        </div>

        <div class="filler">
            <div class="f-title">
                SharpCode Course List
            </div>
            <div class="f-subtitle">
                Intermediate Level
            </div>
            <div class="episode">
                <div class="e-title">
                    1. Introduction to HTML & CSS
                </div>
            </div>
            <div class="episode">
                <div class="e-title">
                    2. Introduction to JavaScript
                </div>
            </div>
            <div class="episode">
                <div class="e-title">
                    3. Introduction to jQuery
                </div>
            </div>
            <div class="episode">
                <div class="e-title">
                    5. C Sharp Programming
                </div>
            </div>
            <div class="episode">
                <div class="e-title">
                    6. Introduction to WPF
                </div>
            </div>
            <div class="episode">
                <div class="e-title">
                    7. Introduction to ASP.NETCore MVC
                </div>
            </div>
            <div class="episode">
                <div class="e-title">
                    8. Introduction to Entity Framework
                </div>
            </div>
            <div class="episode">
                <div class="e-title">
                    9. Introduction to Xamarin
                </div>
            </div>
        </div>
    </div>
</div>