@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">SharpCode Website</h1>
    <p>We started by learning, now we are building. We would continue building until it is built</a>.</p>
</div>
