@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="showcase-text">
                <h1 class="showcase-heading">Hello<span class="exclamation-mark">!</span></h1>
                <h2 class="showcase-subheading">We will help you build<br /> a better career</h2>
                <p class="para1"><span class="color-change">We are a team of <span class="color-change2">professional software developers</span></span><br /><span class="color-change">working together with</span> <span class="color-change2">early-stage startup founders</span><br /> <span class="color-change">to provide training and solutions</span></p>
            </div>
          
            <button class="btn-1"><span class="btn-2">Join</span></button>
        </div>
    <div class="col-6">
            <img src="/lib/img/showcase-img.png" alt="showcase-image" id="showcase-image"/>
    </div>
    </div>
</div>

