

<div class="container mobile-animation" id="container-course">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="courses-container">
                    <div class="course">
                        <div class="course-preview">
                            <h6>Course</h6>
                            <h2>Mobile & WPF Development </h2>
                            <a asp-area="" asp-controller="Home" asp-action="All">View all programs <i class="fas fa-chevron-right"></i></a>
                        </div>
                        <div class="course-info">
                            <div class="progress-container">
                                <div class="progress"></div>
                                <span class="progress-text">
                                    10 Challenges
                                </span>
                            </div>
                            <h6>Two Month</h6>
                            <h2>Full Stack Classes</h2>
                            <ul>
                                <h3>Introduction to C#</h3>
                                    <ul>
                                        <li>fbdjfbjdbfjd</li>
                                        <li>fbdjfbjdbfjd</li>
                                        <li>fbdjfbjdbfjd</li>
                                     </ul>
                                <h3>Introduction to Xamarin</h3>
                                    <ul>
                                        <li>gdjjgjgggf</li>
                                        <li>fbdjfbjdbfjd</li>
                                        <li>fbdjfbjdbfjd</li>
                                    </ul>
                                <h3>Boostrap Basics</h3>
                                    <ul>
                                        <li>fbdjfbjdbfjd</li>
                                        <li>fbdjfbjdbfjd</li>
                                        <li>fbdjfbjdbfjd</li>
                                    </ul>
                                <h3>JavaScript Fundamentals</h3>
                                    <ul>
                                        <li>fbdjfbjdbfjd</li>
                                        <li>fbdjfbjdbfjd</li>
                                        <li>fbdjfbjdbfjd</li>
                                    </ul>
                            </ul>
                            <button class="btn1"><span class="strike-through">N</span>70,000</button>
                            <a class="btn" asp-area="" asp-controller="Registrations" asp-action="Create">Register</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- SOCIAL PANEL HTML -->
<div class="social-panel-container">
    <div class="social-panel">
        <p>
            Created with <i class="fa fa-code"></i> by
            <a target="_blank" href="">SharpCode Developers</a>
        </p>
        <button class="close-btn"><i class="fas fa-times"></i></button>
        <h4>Get in touch on</h4>
        <ul>

            <li>
                <a href="" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
            </li>
            <li>
                <a href="" target="_blank">
                    <i class="fab fa-facebook"></i>
                </a>
            </li>
            <li>
                <a href="" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
<button class="floating-btn">
    Get in Touch
</button>

<div class="floating-text">
    <a href="" target="_blank">SharpCode Courses</a>
</div>
@section Scripts
{
    <script>
        $('document').ready(function () {

            document.body.style.background = '#fff';

        });
    </script>
}
