
@{
    ViewData["Title"] = "Services";
  

}
<div class="row" id="service-body-page">
   
    <div class ="col" id="first-column">
        @*Remove col class from the div up*@
        <div class="container">
            <div class="row">
                <div class="col" id="heading-free">
                    <h1 class="heading-free">Free HTML <span id="and"> and</span> CSS Trainingg</h1>
                    @*<p class="color-change">Start writing responsive web application <span class="color-change2">for free</span></p>*@
                    <p class="para1"><span class="color-change">As a team of well trained <span class="color-change2">professional software developers</span></span><br /><span class="color-change"> we provide our</span> <span class="color-change2">fresh intakes HMTL and CSS</span><br /> <span class="color-change">free for two weeks</span></p>
                    <button class="btn-1 force-to-happen" id="btn-11"><span class="btn-3">Register</span></button>
                </div>
                <div class="col">
                    <img src="~/lib/img/webphoto1.png" id="img-logo2" />
                </div>
                @*<button class="btn-1 btn-pattern" id="btn-11"><span class="btn-3">Work With Us</span></button>*@
            </div>

        </div>
        <hr id="line" />
        <div class="container">
            <div class="row">
                <div class="col" id="heading-free">
                    <h1 class="heading-free">Custom <br /> Software <span id="and"><br /> Development <br /></span> Services</h1>
                    @*<p class="color-change">Start writing responsive web application <span class="color-change2">for free</span></p>*@
                    <p class="para1"><span class="color-change">Our web developers dedicate themselves <br />to the highest quality engineering.<br /><span class="color-change2">C#, Javascript frameworks, .Net, HTML, <br />CSS and React,and beyond. </span></p>
                    <button class="btn-1 btn-pattern" id="btn-11"><span class="btn-3">Work With Us</span></button>
                </div>
                <div class="col">
                    <img src="~/lib/img/web-dev.png" id="img-logo3" />
                </div>
                @*<button class="btn-1 btn-pattern" id="btn-11"><span class="btn-3">Work With Us</span></button>*@
            </div>

        </div>
        <hr id="line" />

    </div>
    <div class="container">
    <div id="services-body">
        <div id="container-size">
       
        @*<p id="paragraph-body">White color here</p>*@
        <section class="we-offer-area text-center bg-gray">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="site-heading text-center">
                            <h2>What we <span>Offer</span></h2>
                            <h4>Lorem Ipsum is simply dummy text</h4>
                        </div>
                    </div>
                </div>
                <div class="row our-offer-items less-carousel">
                    <!-- Single Item -->
                    <div class="col-md-4 col-sm-6 equal-height">
                        <div class="item">
                            <i class="fas fa-code"></i>
                            <h4>Front-End</h4>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br />
                                <div class="stage">
                                    <a class="hello" asp-area="" asp-controller="Home" asp-action="Front">Read more</a>
                                </div>

                            </p>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-md-4 col-sm-6 equal-height">
                        <div class="item">
                            <i class="fas fa-laptop-code"></i>
                            <h4>Full-Stack</h4>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br />
                            <div class="stage">
                                <a class="hello" asp-area="" asp-controller="Home" asp-action="Course">Read more</a>
                            </div>
                            </p>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-md-4 col-sm-6 equal-height">
                        <div class="item">
                            <i class="fa fa-mobile"></i>
                            <h4>Mobile & WPF</h4>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br />
                                <div class="stage">
                                <a class="hello" asp-area="" asp-controller="Home" asp-action="Mobile">Read more</a>
                                </div>
                            </p>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-md-4 col-sm-6 equal-height">
                        <div class="item">
                            <i class="fas fa-tachometer-alt"></i>
                            <h4>Software Solution</h4>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                <div class="stage">
                                    <a class="hello" asp-area="" asp-controller="Contacts" asp-action="Create">Read more</a>
                                </div>
                            </p>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-md-4 col-sm-6 equal-height">
                        <div class="item">
                            <i class="fas fa-recycle"></i>
                            <h4>Software Update</h4>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                <div class="stage">
                                    <a class="hello" asp-area="" asp-controller="Contacts" asp-action="Create">Read more</a>
                                </div>

                            </p>
                            
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-md-4 col-sm-6 equal-height">
                        <div class="item">
                            <i class="fas fa-headset"></i>
                            <h4>24/7 Support</h4>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                <div class="stage">
                                    <a class="hello" asp-area="" asp-controller="Contacts" asp-action="Create">Read more</a>
                                </div>
                            </p>
                        </div>
                    </div>
                    <!-- End Single Item -->
                </div>
            </div>
        </section>
    <div>
        
           
     </div>
            </div>

</div>
@section Scripts
{
    <script>
        $('document').ready(function () {
            var div1 = document.getElementById('services-body');
            var div = document.getElementById('first-column');
            document.body.style.background = '#fff';
            
            div.style.backgroundColor = '#00326D';
            div1.style.backgroundColor = 'white';
            div.style.marginTop = '-14px';
        });
    </script>
}

