@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
<div class="container">
    <h1>@ViewData["Title"]</h1>
</div>

@section Scripts {

    <script>
        $('document').ready(function () {
            document.body.style.background = '#fff';
        });
    </script>

}